.App {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
}

.gray-container {
  margin: 10px 0;
}

header {
  position: fixed;
    height: 100px;
    z-index: 1;
    background: white;
    width: 100%;
    left: 0;
    top: 0;
    border-bottom: 1px solid black;
    padding: 10px;
}

.infinite-scroll-component__outerdiv {
  margin-top: 141px;
}

.close-modal {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  background: red;
  border: 0px;
  padding-top: 5px;
}
.img-holder {
  width: 200px;
  height: 200px;
  overflow: scroll;
  position: relative;
}

.img-holder img {
  width: 200px;
  height: 200px;
  position: absolute;
}

.zoomer {
  width: 200px;
  text-align: center;
  margin: 10px 0;
}

.zoomer button {
   margin-right: 10px;
}



.infinite-scroll-component  {
   display: grid;
   grid-template-columns: auto auto;
}

@media screen  and (min-width: 600px)  {
  .infinite-scroll-component  {
    grid-template-columns: auto auto auto auto auto;
  }
}